# Python Conditions:

In [2]:
#1. Take values of the length & breadth of a rectangle from user input and check if it is square or not. 
l = float(input('lenght = '))
b = float(input('bredth = '))

if l==b:
    print('It is a square')
else:
    print('This is not square')

lenght = 78
bredth = 34
This is not square

In [3]:
#2.Take three integer values from the user and print the greatest among them.
a1= input('integer 1 = ')
a2= input('integer 2 = ')
a3= input('integer 3 = ')

if a3>a2:
    if a3>a1:
        print('integer 3 is the greatest')
    else:
        print('integer 1 is the greatest')
else:
    if a2>a1:
        print('integer 2 is the greatest')
    else:
        print('integer 1 is the greatest')

integer 1 = 78.43
integer 2 = 13.54
integer 3 = 97.35
integer 3 is the greatest

In [9]:
#3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.
n = int(input('Number of class = '))
a = int(input('Number of days present = '))
if a/n > 0.75 : 
    print('Allowed for exam')
else:
    print('Not allowed')

Number of class = 70
Number of days present = 60
Allowed for exam

In [10]:
#4. A school has the following rules for the grading system:
#Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+

m = float(input('Enter the marks = '))
if m<25:
    print('F')
elif 25<=m<=44:
    print('E')
elif 45<=m<=49:
    print('D')
elif 50<=m<=59:
    print('C')
elif 60<=m<=79:
    print('B')
elif 80<=m<=89:
    print('A')
elif 90<=m<=100:
    print('A+')

Enter the marks = 55
C

# Loop Problem

In [37]:
#5. Print the following pattern using for and while loop.
#1 2 3 4 5 6 7
#1 2 3 4 5 6
#1 2 3 4 5
#1 2 3 4

rows = 4
high = 8
for i in range(1,rows+1):
    for j in range(1,high,1):
        print(j,end=' ')
    print('')
    high=high-1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [38]:
#6. Display numbers from -100 to -10 using for loop. 
for i in range(-100,-9,1):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [44]:
#8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1). 

n = int(input('Enter the number : '))
fact=1
for i in range(1,n+1):
    fact = fact*i
print(fact)

Enter the number : 5
120

In [56]:
#9. Reverse a given integer number 27956240710

num = input('Enter the number = ')
size = len(num)
reversed_number = num[size::-1]

#print(int(reversed_number))
print(reversed_number)

Enter the number = 0864250
0524680

In [73]:
#10. Print the following pattern using for and while loop. 
# # # 
# # # # 
# # #  
# # 


#using for loop

for i in range(4):
    if i==0 or i==2:
        for j in range(3):
            print('#',end=' ')
        print(' ')
    elif i==1:
        for j in range(4):
            print('#',end=' ')
        print(' ')
    else:
        for j in range(2):
            print('#', end=' ')
        print(' ')

# # #
# # # #
# # #
# #

In [72]:
#using while loop
i=0
j=0
while i<4:
    if i==0 or i==2:
        while(j<3):
            print('#',end=' ')
            j+=1            
        print(' ')
        i=i+1
        j=0
    elif i==1:
        while(j<4):
            print('#',end=' ')
            j+=1            
        print(' ')
        i=i+1
        j=0
    else:
        while(j<2):
            print('#',end=' ')
            j+=1            
        print(' ')
        i=i+1

# # #
# # # #
# # #
# #

In [75]:
#11. Display the Fibonacci series of 15 elements using the for and while loop.
seq = int(input('Upto how many sequence : '))
n1=0
n2=1
count=0
while(count<seq):
    print(n1, end=' ')
    nth = n1+n2
    n1=n2
    n2=nth
    count+=1

Upto how many sequence : 15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# Python inbuilt Data Structure:

In [81]:
#12. Remove 2 and add 3 to the list and replace True with False. 
#Li = [1,3,5, [2,3], True] 
#Output = [1,3,5, [3,3], False] 

Li = [1,3,5,[2,3],True]
Li[4]=False
Li[3][0]=3
Li

[1, 3, 5, [3, 3], False]

In [106]:
#13. Find the intersection (common) of two sets. 

S1 = {1,4,6,8} 
S2 = {True,1,2,10} 
S3 = S1.intersection(S2)
print(S3)

{True}

In [110]:
##### 14. Input a list from the user then Remove duplicates from a list and create a set and find the max number. 
#User_input = [1,9,3,4,5,200,54] 

list_m = []
r=int(input('enter total number of item in your list : '))

for i in range(r):
    new=int(input())
    list_m.append(new)
print(list_m)

list_u = [*set(list_m)]
print("List after removing duplicate elements: ", list_u)

set1=set(list_u)
print(set1)
print(max(set1))

enter total number of item in your list : 5
21
21
5
5
7
[21, 21, 5, 5, 7]
List after removing duplicate elements:  [5, 21, 7]
{21, 5, 7}
21

In [117]:
#15. Rename the key of a dictionary. 
#Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" } 
#Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary

Dict = { 'name': 'Shakil', 'age':27, 'city': 'Berlin', 'country': 'Germany' } 
Dict.keys()
Dict['country']
old_key='country'
new_key='region'
Dict[new_key]=Dict.pop(old_key)
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [124]:
#. 16. Creating a data frame using the list. 
#num = [10,100,300] (column name is number)

import pandas as pd
num = [10,100,300]
df = pd.DataFrame(num, columns=['Number'])
df

   Number
0      10
1     100
2     300

In [126]:
#17. Change the value of a key in a given dictionary. 
#Write a Python program to change ‘age’ to 28 in the following dictionary. 

Dict = {'name': 'Shakil', 'age':27, 'city': 'Berlin', 'country': 'Germany'}
Dict['age']=28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}